<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
{% include head-custom.html %}

<style>
.navbar {
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

.nav-right a {
  margin-left:20px;
  text-decoration:none;
  font-weight:500;
}

.nav-right a:hover {
  text-decoration:underline;
}
</style>

</head>

<body>

<div class="container-lg px-3 my-5 markdown-body">

  <!-- Navigation -->
  <div class="navbar">
    <div class="nav-left">
      <a href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/images/home.png' | relative_url }}" alt="Home" width="40">
      </a>
    </div>
     <div class="nav-right">
      <a href="{{ '/talks' | relative_url }}">Talks</a>
      <a href="{{ '/software' | relative_url }}">Software</a>
      <a href="{{ '/publications' | relative_url }}">Publications</a>
    </div>
  </div>

  {{ content }}

  {% if site.github.private != true and site.github.license %}
  <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
    This site is open source. {% github_edit_link "Improve this page" %}.
  </div>
  {% endif %}

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"></script>
<script>anchors.add();</script>

</body>
</html>
